In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import math

In [2]:
#input the data
my_data=np.array([['I1','S1','Plant A', 100, 50, 'Chicago','IL',41.878113,-87.629799],
                ['I1','S1','Plant B', 200, 100, 'Columbus','OH',39.961178,-82.998795],
                ['I1','S1','Plant C', 300, 150, 'St. Louis','MO',38.630280,-90.200310],
                ['I2','S2','Plant D', 300, 235, 'Denver','CO',39.739235,-104.990250],
                 ['I2','S3','Plant E', 500, 250, 'Los Angeles','CA',34.052238,-118.243340],
                ['I1','S3','Plant F', 100, 50, 'San Francisco','CA',37.774929,-122.419418],
                ['I2','S4','Plant G', 200, 150, 'Salt Lake City','UT',40.760780,-111.891045],
                ['I1','S4','Plant H', 400, 250, 'Memphis','TN',35.143379,-90.052139],
                ['I1','S5','Plant I', 100, 50, 'New York','NY',40.713051,-74.007233],
                ['I2','S5','Plant J', 500, 250, 'Miami','FL',25.761681,-80.191788],
                ['I2','S2','Plant K', 400, 300, 'Kansas City','KN',39.099728,-94.578568],
                  ['I2','S4','Plant L', 500, 450, 'Cleveland','OH',41.499321,-81.694359],
                  ['I2','S5','Plant M', 600, 150, 'Portland','OR',45.516022,-122.681427],
                  ['I2','S5','Plant N', 1000, 850, 'Seattle','WA',47.603230,-122.330276],
                  ['I3','S1','Plant A', 500, 350, 'Chicago','IL',41.878113,-87.629799],
                  ['I3','S4','Plant H', 300, 250, 'Memphis','TN',35.143379,-90.052139],
                  ['I3','S5','Plant J', 400, 50, 'Miami','FL',25.761681,-80.191788],
                  ['I3','S3','Plant E', 500, 250, 'Los Angeles','CA',34.052238,-118.243340],
                  ['I3','S2','Plant D', 600, 450, 'Denver','co',39.739235,-104.990250],
                  ['I3','S1','Plant C', 100, 50, 'St. Louis','MO',38.630280,-90.200310],
                 ['I3','S6','Plant O', 300, 250, 'Mil','IL',43.038902,-87.906471],
                 ['I4','S2','Plant D', 500, 150, 'Denver','CO',39.739235,-104.990250],
                 ['I4','S3','Plant E', 250, 150, 'Los Angeles','CA',34.052238,-118.243340],
                 ['I5','S1','Plant A', 200, 50, 'Chicago','IL',41.878113,-87.629799],
                 ['I4','S5','Plant J', 300, 150, 'Miami','FL',25.761681,-80.191788],
                 ['I4','S1','Plant A', 600, 250, 'Chicago','IL',41.878113,-87.629799],
                 ['I4','S5','Plant M', 550, 450, 'Portland','OR',45.516022,-122.681427],
                 ['I5','S4','Plant H', 1000, 850, 'Memphis','TN',35.143379,-90.052139],
                 ['I5','S2','Plant D', 600, 450, 'Denver','co',39.739235,-104.990250],
                 ['I5','S4','Plant G', 200, 150, 'Salt Lake City','UT',40.760780,-111.891045],
                 ['I4','S1','Plant B', 200, 100, 'Columbus','OH',39.961178,-82.998795],
                 ['I5','S1','Plant C', 300, 250, 'St. Louis','MO',38.630280,-90.200310],
                 ['I4','S6','Plant O', 200, 50, 'Mil','IL',43.038902,-87.906471],
                 ['I5','S4','Plant L', 500, 450, 'Cleveland','OH',41.499321,-81.694359]])
df=pd.DataFrame(data=my_data,columns=['Skus','Parents','Plants','Capacity','Demand','City','State','Lat','Long'])
df

,Skus,Parents,Plants,Capacity,Demand,City,State,Lat,Long
0,I1,S1,Plant A,100,50,Chicago,IL,41.878113,-87.629799
1,I1,S1,Plant B,200,100,Columbus,OH,39.961178,-82.998795
2,I1,S1,Plant C,300,150,St. Louis,MO,38.63028,-90.20031
3,I2,S2,Plant D,300,235,Denver,CO,39.739235,-104.99025
4,I2,S3,Plant E,500,250,Los Angeles,CA,34.052238,-118.24334
5,I1,S3,Plant F,100,50,San Francisco,CA,37.774929,-122.419418
6,I2,S4,Plant G,200,150,Salt Lake City,UT,40.76078,-111.891045
7,I1,S4,Plant H,400,250,Memphis,TN,35.143379,-90.052139
8,I1,S5,Plant I,100,50,New York,NY,40.713051,-74.007233
9,I2,S5,Plant J,500,250,Miami,FL,25.761681,-80.191788
10,I2,S2,Plant K,400,300,Kansas City,KN,39.099728,-94.578568
11,I2,S4,Plant L,500,450,Cleveland,OH,41.499321,-81.694359
12,I2,S5,Plant M,600,150,Portland,OR,45.516022,-122.681427
13,I2,S5,Plant N,1000,850,Seattle,WA,47.60323,-122.330276
14,I3,S1,Plant A,500,350,Chicago,IL,41.878113,-87.629799
15,I3,S4,Plant H,300,250,Memphis,TN,35.143379,-90.052139
16,I3,S5,Plant J,400,50,Miami,FL,25.761681,-80.191788
17,I3,S3,Plant E,500,250,Los Angeles,CA,34.052238,-118.24334
18,I3,S2,Plant D,600,450,Denver,co,39.739235,-104.99025
19,I3,S1,Plant C,100,50,St. Louis,MO,38.63028,-90.20031
20,I3,S6,Plant O,300,250,Mil,IL,43.038902,-87.906471
21,I4,S2,Plant D,500,150,Denver,CO,39.739235,-104.99025
22,I4,S3,Plant E,250,150,Los Angeles,CA,34.052238,-118.24334
23,I5,S1,Plant A,200,50,Chicago,IL,41.878113,-87.629799
24,I4,S5,Plant J,300,150,Miami,FL,25.761681,-80.191788
25,I4,S1,Plant A,600,250,Chicago,IL,41.878113,-87.629799
26,I4,S5,Plant M,550,450,Portland,OR,45.516022,-122.681427
27,I5,S4,Plant H,1000,850,Memphis,TN,35.143379,-90.052139
28,I5,S2,Plant D,600,450,Denver,co,39.739235,-104.99025
29,I5,S4,Plant G,200,150,Salt Lake City,UT,40.76078,-111.891045
30,I4,S1,Plant B,200,100,Columbus,OH,39.961178,-82.998795
31,I5,S1,Plant C,300,250,St. Louis,MO,38.63028,-90.20031
32,I4,S6,Plant O,200,50,Mil,IL,43.038902,-87.906471
33,I5,S4,Plant L,500,450,Cleveland,OH,41.499321,-81.694359

In [3]:
#Add variables for utilization and scenario utilization
df5_1=pd.DataFrame()
df5_2=pd.DataFrame()
df5=df
df5['Scenario Capacity %']=0
for m in list(df5.Skus.unique()):
    list_sum_d=[]
    list_sum_c=[]
    df5_1=df5[df5['Skus']==m]
    df5_1=df5_1.reset_index()
    for n in range(len(df5_1.Plants)):

        list_sum_d+=[float(df5_1.Demand[n])]
        list_sum_c+=[float(df5_1.Capacity[n])]
    df5_1['Current Capacity %']=sum(list_sum_d)/sum(list_sum_c)
    
    for n in df5_1.Parents.unique():
        c_sum=[]
        c_sum+=[df5_1[df5_1['Parents']==n].Capacity]
        for i in range(len(c_sum)):
            c_sum=list(map(float,c_sum[i]))
            C=sum(list_sum_d)/(sum(list_sum_c)-sum(c_sum))
        df5_1['Scenario Capacity %'][df5_1['Parents']==n]=C
    df5_2=df5_2.append(df5_1)

df5=df5_2.reset_index()
df5=df5.drop(['level_0','index'],axis=1)
for m in list(df5.Skus.unique()):
    for n in list(df5.Parents.unique()):
        c_sum=[]
        d_sum=[]
        c_sum+=[df5[(df5['Parents']==n) & (df5['Skus']==m)].Capacity]
        d_sum+=[df5[(df5['Parents']==n) & (df5['Skus']==m)].Demand]
        for i in range(len(c_sum)):
            c_sum=list(map(float,c_sum[i]))
            d_sum=list(map(float,d_sum[i]))
            C=sum(list_sum_d)/(sum(list_sum_c)-sum(c_sum))
        df5.loc[df5[(df5['Parents']==n) & (df5['Skus']==m)].index,'Scenario Capacity %']=C
        df5.loc[df5[(df5['Parents']==n) & (df5['Skus']==m)].index,'volume']=sum(d_sum)
df5

C:\Users\kren\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\kren\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\kren\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\kren\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\kren\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\kren\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Skus,Parents,Plants,Capacity,Demand,City,State,Lat,Long,Scenario Capacity %,Current Capacity %,volume
0,I1,S1,Plant A,100,50,Chicago,IL,41.878113,-87.629799,1.000000,0.541667,300.0
1,I1,S1,Plant B,200,100,Columbus,OH,39.961178,-82.998795,1.000000,0.541667,300.0
2,I1,S1,Plant C,300,150,St. Louis,MO,38.63028,-90.20031,1.000000,0.541667,300.0
3,I1,S3,Plant F,100,50,San Francisco,CA,37.774929,-122.419418,0.814815,0.541667,50.0
4,I1,S4,Plant H,400,250,Memphis,TN,35.143379,-90.052139,0.916667,0.541667,250.0
5,I1,S5,Plant I,100,50,New York,NY,40.713051,-74.007233,0.814815,0.541667,50.0
6,I2,S2,Plant D,300,235,Denver,CO,39.739235,-104.99025,1.047619,0.658750,535.0
7,I2,S3,Plant E,500,250,Los Angeles,CA,34.052238,-118.24334,0.956522,0.658750,250.0
8,I2,S4,Plant G,200,150,Salt Lake City,UT,40.76078,-111.891045,1.047619,0.658750,600.0
9,I2,S5,Plant J,500,250,Miami,FL,25.761681,-80.191788,3.142857,0.658750,1250.0
10,I2,S2,Plant K,400,300,Kansas City,KN,39.099728,-94.578568,1.047619,0.658750,535.0
11,I2,S4,Plant L,500,450,Cleveland,OH,41.499321,-81.694359,1.047619,0.658750,600.0
12,I2,S5,Plant M,600,150,Portland,OR,45.516022,-122.681427,3.142857,0.658750,1250.0
13,I2,S5,Plant N,1000,850,Seattle,WA,47.60323,-122.330276,3.142857,0.658750,1250.0
14,I3,S1,Plant A,500,350,Chicago,IL,41.878113,-87.629799,1.000000,0.611111,400.0
15,I3,S4,Plant H,300,250,Memphis,TN,35.143379,-90.052139,0.880000,0.611111,250.0
16,I3,S5,Plant J,400,50,Miami,FL,25.761681,-80.191788,0.916667,0.611111,50.0
17,I3,S3,Plant E,500,250,Los Angeles,CA,34.052238,-118.24334,0.956522,0.611111,250.0
18,I3,S2,Plant D,600,450,Denver,co,39.739235,-104.99025,1.000000,0.611111,450.0
19,I3,S1,Plant C,100,50,St. Louis,MO,38.63028,-90.20031,1.000000,0.611111,400.0
20,I3,S6,Plant O,300,250,Mil,IL,43.038902,-87.906471,0.880000,0.611111,250.0
21,I4,S2,Plant D,500,150,Denver,CO,39.739235,-104.99025,0.956522,0.500000,150.0
22,I4,S3,Plant E,250,150,Los Angeles,CA,34.052238,-118.24334,0.862745,0.500000,150.0
23,I4,S5,Plant J,300,150,Miami,FL,25.761681,-80.191788,1.128205,0.500000,600.0
24,I4,S1,Plant A,600,250,Chicago,IL,41.878113,-87.629799,1.100000,0.500000,350.0
25,I4,S5,Plant M,550,450,Portland,OR,45.516022,-122.681427,1.128205,0.500000,600.0
26,I4,S1,Plant B,200,100,Columbus,OH,39.961178,-82.998795,1.100000,0.500000,350.0
27,I4,S6,Plant O,200,50,Mil,IL,43.038902,-87.906471,0.846154,0.500000,50.0
28,I5,S1,Plant A,200,50,Chicago,IL,41.878113,-87.629799,0.956522,0.785714,300.0
29,I5,S4,Plant H,1000,850,Memphis,TN,35.143379,-90.052139,2.000000,0.785714,1450.0
30,I5,S2,Plant D,600,450,Denver,co,39.739235,-104.99025,1.000000,0.785714,450.0
31,I5,S4,Plant G,200,150,Salt Lake City,UT,40.76078,-111.891045,2.000000,0.785714,1450.0
32,I5,S1,Plant C,300,250,St. Louis,MO,38.63028,-90.20031,0.956522,0.785714,300.0
33,I5,S4,Plant L,500,450,Cleveland,OH,41.499321,-81.694359,2.000000,0.785714,1450.0

In [4]:
#use function to get a dictionary for each Skus and each suppliers to get the optimal plant list
df5_new=df5.sort_values(by=['Skus'])
df6_new=df5_new.reset_index()

df5=df6_new.set_index('Skus')

sku_list=[]
sku_list=df6_new.Skus.unique()

pl_names={}
for x in range(len(df6_new.Skus.unique())):
    df_new=df5.loc[sku_list[x],:]
    df_new=df_new.reset_index()

    pl_names_1=[]
    parent_list=list(df_new.Parents.unique())
    parent_plant={}
    df_new[df_new.Parents=='S1'].Plants
    for i in parent_list:
        parent_plant[i]=df_new[df_new['Parents']==i].Plants
    for i in df_new.Parents.unique():   
        pl_names_1+=[list(parent_plant[i])]
        pl_names[sku_list[x]]=pl_names_1

In [5]:
pl_names

{'I1': [['Plant A', 'Plant B', 'Plant C'],
  ['Plant F'],
  ['Plant H'],
  ['Plant I']],
 'I2': [['Plant N', 'Plant M', 'Plant J'],
  ['Plant L', 'Plant G'],
  ['Plant K', 'Plant D'],
  ['Plant E']],
 'I3': [['Plant C', 'Plant A'],
  ['Plant O'],
  ['Plant D'],
  ['Plant J'],
  ['Plant H'],
  ['Plant E']],
 'I4': [['Plant D'],
  ['Plant E'],
  ['Plant J', 'Plant M'],
  ['Plant A', 'Plant B'],
  ['Plant O']],
 'I5': [['Plant C', 'Plant A'],
  ['Plant H', 'Plant G', 'Plant L'],
  ['Plant D']]}

In [35]:
#get the distance form
def distance(origin, destination):
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 6371 

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c
    return d
def getdistance(name_1,name_2):
    if name_1 in list(df.Plants.unique()) and name_2 in list(df.Plants.unique()):
        lat1=np.float(list(df[df['Plants']==name_1].Lat)[0])
        lat2=np.float(list(df[df['Plants']==name_2].Lat)[0])
        lon1=np.float(list(df[df['Plants']==name_1].Long)[0])
        lon2=np.float(list(df[df['Plants']==name_2].Long)[0])
    return (distance((lat1, lon1), (lat2, lon2)))

keys=[]
distance_list={}
distance_list_1={}
for i in range(len(list(df.Plants.unique()))):
    values=[]
    keys=[df.Plants.unique()[i]]
    for m in range(len(list(df.Plants.unique()))):
        values+=[getdistance(list(df.Plants.unique())[i],list(df.Plants.unique())[m])]
    for n in keys:
        distance_list[n]=values     
df1=pd.DataFrame(distance_list).transpose()
df1.columns=list(df.Plants.unique())
df1

,Plant A,Plant B,Plant C,Plant D,Plant E,Plant F,Plant G,Plant H,Plant I,Plant J,Plant K,Plant L,Plant M,Plant N,Plant O
Plant A,0.000000,443.573081,421.859344,1477.698975,2803.940345,2984.908069,2023.153722,777.865532,1144.183906,1917.313577,663.603701,494.557086,2823.951069,2788.718437,131.054000
Plant B,443.573081,0.000000,636.932524,1872.730323,3176.219931,3393.746224,2438.523325,820.242121,766.337725,1600.282097,997.015031,203.300887,3264.672709,3232.036270,532.902567
Plant C,421.859344,636.932524,0.000000,1279.203586,2552.332878,2802.404350,1866.048328,387.949389,1403.063812,1710.449232,382.604828,790.566199,2767.021110,2768.046479,526.775170
Plant D,1477.698975,1872.730323,1279.203586,0.000000,1335.491654,1524.508531,596.398569,1412.174652,2618.943649,2776.507209,896.676962,1969.944678,1579.109792,1640.470239,1468.763296
Plant E,2803.940345,3176.219931,2552.332878,1335.491654,0.000000,559.142598,932.818727,2574.611118,3935.608749,3758.738586,2179.490040,3290.850127,1329.361398,1544.954416,2802.435432
Plant F,2984.908069,3393.746224,2802.404350,1524.508531,559.142598,0.000000,964.478639,2894.960999,4128.979123,4169.768209,2419.862098,3479.465138,861.044133,1092.881283,2958.498509
Plant G,2023.153722,2438.523325,1866.048328,596.398569,932.818727,964.478639,0.000000,2007.868249,3166.531891,3359.491230,1485.230122,2517.531168,1021.503775,1125.941865,1994.241348
Plant H,777.865532,820.242121,387.949389,1412.174652,2574.611118,2894.960999,2007.868249,0.000000,1534.491556,1406.045602,595.306641,1014.478277,2970.936842,2998.921200,897.167647
Plant I,1144.183906,766.337725,1403.063812,2618.943649,3935.608749,4128.979123,3166.531891,1534.491556,0.000000,1757.951947,1759.753340,649.745742,3925.754644,3865.326833,1177.994000
Plant J,1917.313577,1600.282097,1710.449232,2776.507209,3758.738586,4169.768209,3359.491230,1406.045602,1757.951947,0.000000,2000.442838,1755.385428,4353.922949,4395.863741,2045.077492
Plant K,663.603701,997.015031,382.604828,896.676962,2179.490040,2419.862098,1485.230122,595.306641,1759.753340,2000.442838,0.000000,1123.574770,2404.418537,2418.340382,710.038047
Plant L,494.557086,203.300887,790.566199,1969.944678,3290.850127,3479.465138,2517.531168,1014.478277,649.745742,1755.385428,1123.574770,0.000000,3299.145116,3251.651075,538.902416
Plant M,2823.951069,3264.672709,2767.021110,1579.109792,1329.361398,861.044133,1021.503775,2970.936842,3925.754644,4353.922949,2404.418537,3299.145116,0.000000,233.633952,2760.385439
Plant N,2788.718437,3232.036270,2768.046479,1640.470239,1544.954416,1092.881283,1125.941865,2998.921200,3865.326833,4395.863741,2418.340382,3251.651075,233.633952,0.000000,2715.571987
Plant O,131.054000,532.902567,526.775170,1468.763296,2802.435432,2958.498509,1994.241348,897.167647,1177.994000,2045.077492,710.038047,538.902416,2760.385439,2715.571987,0.000000

In [36]:
#create a function to find the optimal plant for each outage plant
def findsuppliers(name1,name2):
    plant_name=[]
    list_distance_1=[]
    new_name_list=[]
    new_list_1=[]
    new_list_2=[]
    list_distance_other=list()

           
    

    for x in range(len(pl_names[name1])):
        if name2 in pl_names[name1][x]:
            continue
        else:            
            list_distance_other+=pl_names[name1][x]
            list_distance_2=list(df1.loc[name2,list_distance_other])


    s_pname=[]
    s_pname=list(df[df.Skus==name1].Plants)
    df2=df1.loc[s_pname,s_pname]
    for i in range(len(list_distance_1)):
        new_list_1+=[df2.loc[:,(df2.loc[name2]==sorted(list_distance_1,reverse=False)[i])].columns]
    for i in range(len(list_distance_2)):
        new_list_2+=[df2.loc[:,(df2.loc[name2]==sorted(list_distance_2,reverse=False)[i])].columns]
    new_name_list=new_list_1+new_list_2
    df['New_Demand']=df['Demand']
    for i in list(df.Plants.unique()):
        if i == new_name_list[0]:
        
            
        
            df.loc[(df.Plants==i) & (df.Skus==name1),'New_Demand']=\
            np.float(df.loc[(df.Plants==name2) & (df.Skus==name1),'Demand'])\
            +np.float(df.loc[(df.Plants==i) & (df.Skus==name1),'Demand'])
        
            df.loc[(df.Plants==name2) & (df.Skus==name1),'New_Demand']=0
        
            if float(df[(df.Plants==i) & (df.Skus==name1)].New_Demand)>\
            float(df[(df.Plants==i) & (df.Skus==name1)].Capacity):
            
                for n in range(len(new_name_list)-1):
                
                    remain=df[(df.Plants==new_name_list[n].item()) & (df.Skus==name1)].New_Demand.item()-\
                    float(df[(df.Plants==new_name_list[n].item()) & (df.Skus==name1)].Capacity.item())
                
                    new_plant_1=new_name_list[n+1].item()
                
                    NEWNUM=np.float(df[(df.Plants==new_plant_1) & (df.Skus==name1)].Demand)+remain
                
                    df.loc[(df.Plants==new_plant_1) & (df.Skus==name1),'New_Demand']=float(NEWNUM)
                
                    df.loc[(df.Plants==new_name_list[n].item()) & (df.Skus==name1),'New_Demand']=\
                    float(df[(df.Plants==new_name_list[n].item()) & (df.Skus==name1)].Capacity)
                
                    if np.float(df[(df.Plants==new_name_list[n+1].item()) & (df.Skus==name1)].New_Demand)\
                    >np.float(df[(df.Plants==new_name_list[n+1].item()) & (df.Skus==name1)].Capacity):
                    
                        continue
                    
                    else:
                    
                        break
            else:
                n=-1
            for k in range(n+2):
                    plant_name+=[new_name_list[k].item()]
                    
    unique_list=[]
    for x in plant_name:
        if x not in unique_list:
            unique_list.append(x)
    df['New_Utl']=df['New_Demand'].astype(float)/df['Capacity'].astype(float)
    df_tem=df.set_index('Skus')
    df_tem_1=df_tem.loc[df[(df['Plants']==name2) & (df.Skus==name1)].Skus,:]
    df_tem_2=df_tem_1.reset_index()                    
                    
                    
                    
                    
                    
    #df['New_Utl']=df['New_Demand'].astype(float)/df['Capacity'].astype(float)
    #df['New_Utl'] = df['New_Utl'].astype(float).map(lambda n: '{:.2%}'.format(n))
    #df_tem=df.set_index('Skus')
    #df_tem_1=df_tem.loc[df[df['Plants']==name2].Skus,:]
    #df_tem_2=df_tem_1.reset_index()
    return (df_tem_2,plant_name)
findsuppliers('I1','Plant A')[1]

['Plant H']

In [37]:
pl_names_1
df6

,Skus,index,Parents,Plants,Capacity,Demand,City,State,Lat,Long,Scenario Capacity %,Current Capacity %,volume
0,I1,0,S1,Plant A,100,50,Chicago,IL,41.878113,-87.629799,1.000000,0.541667,300.0
1,I1,1,S1,Plant B,200,100,Columbus,OH,39.961178,-82.998795,1.000000,0.541667,300.0
2,I1,2,S1,Plant C,300,150,St. Louis,MO,38.63028,-90.20031,1.000000,0.541667,300.0
3,I1,3,S3,Plant F,100,50,San Francisco,CA,37.774929,-122.419418,0.814815,0.541667,50.0
4,I1,4,S4,Plant H,400,250,Memphis,TN,35.143379,-90.052139,0.916667,0.541667,250.0
5,I1,5,S5,Plant I,100,50,New York,NY,40.713051,-74.007233,0.814815,0.541667,50.0
6,I2,13,S5,Plant N,1000,850,Seattle,WA,47.60323,-122.330276,3.142857,0.658750,1250.0
7,I2,12,S5,Plant M,600,150,Portland,OR,45.516022,-122.681427,3.142857,0.658750,1250.0
8,I2,11,S4,Plant L,500,450,Cleveland,OH,41.499321,-81.694359,1.047619,0.658750,600.0
9,I2,10,S2,Plant K,400,300,Kansas City,KN,39.099728,-94.578568,1.047619,0.658750,535.0
10,I2,8,S4,Plant G,200,150,Salt Lake City,UT,40.76078,-111.891045,1.047619,0.658750,600.0
11,I2,7,S3,Plant E,500,250,Los Angeles,CA,34.052238,-118.24334,0.956522,0.658750,250.0
12,I2,6,S2,Plant D,300,235,Denver,CO,39.739235,-104.99025,1.047619,0.658750,535.0
13,I2,9,S5,Plant J,500,250,Miami,FL,25.761681,-80.191788,3.142857,0.658750,1250.0
14,I3,19,S2,Plant C,100,50,St. Louis,MO,38.63028,-90.20031,1.047619,0.611111,500.0
15,I3,20,S6,Plant O,300,250,Mil,IL,43.038902,-87.906471,0.880000,0.611111,250.0
16,I3,18,S2,Plant D,600,450,Denver,co,39.739235,-104.99025,1.047619,0.611111,500.0
17,I3,16,S5,Plant J,400,50,Miami,FL,25.761681,-80.191788,0.916667,0.611111,50.0
18,I3,15,S4,Plant H,300,250,Memphis,TN,35.143379,-90.052139,0.880000,0.611111,250.0
19,I3,14,S1,Plant A,500,350,Chicago,IL,41.878113,-87.629799,0.956522,0.611111,350.0
20,I3,17,S3,Plant E,500,250,Los Angeles,CA,34.052238,-118.24334,0.956522,0.611111,250.0
21,I4,21,S2,Plant D,500,150,Denver,CO,39.739235,-104.99025,0.956522,0.500000,150.0
22,I4,22,S3,Plant E,250,150,Los Angeles,CA,34.052238,-118.24334,0.862745,0.500000,150.0
23,I4,23,S5,Plant J,300,150,Miami,FL,25.761681,-80.191788,1.128205,0.500000,600.0
24,I4,24,S1,Plant A,600,250,Chicago,IL,41.878113,-87.629799,1.100000,0.500000,350.0
25,I4,25,S5,Plant M,550,450,Portland,OR,45.516022,-122.681427,1.128205,0.500000,600.0
26,I4,26,S1,Plant B,200,100,Columbus,OH,39.961178,-82.998795,1.100000,0.500000,350.0
27,I4,27,S6,Plant O,200,50,Mil,IL,43.038902,-87.906471,0.846154,0.500000,50.0
28,I5,32,S2,Plant C,300,250,St. Louis,MO,38.63028,-90.20031,1.157895,0.785714,700.0
29,I5,28,S1,Plant A,200,50,Chicago,IL,41.878113,-87.629799,0.846154,0.785714,50.0
30,I5,29,S4,Plant H,1000,850,Memphis,TN,35.143379,-90.052139,2.000000,0.785714,1450.0
31,I5,30,S2,Plant D,600,450,Denver,co,39.739235,-104.99025,1.157895,0.785714,700.0
32,I5,31,S4,Plant G,200,150,Salt Lake City,UT,40.76078,-111.891045,2.000000,0.785714,1450.0
33,I5,33,S4,Plant L,500,450,Cleveland,OH,41.499321,-81.694359,2.000000,0.785714,1450.0

In [38]:
pl_names

{'I1': [['Plant A', 'Plant B', 'Plant C'],
  ['Plant F'],
  ['Plant H'],
  ['Plant I']],
 'I2': [['Plant N', 'Plant M', 'Plant J'],
  ['Plant L', 'Plant G'],
  ['Plant K', 'Plant D'],
  ['Plant E']],
 'I3': [['Plant C', 'Plant A'],
  ['Plant O'],
  ['Plant D'],
  ['Plant J'],
  ['Plant H'],
  ['Plant E']],
 'I4': [['Plant D'],
  ['Plant E'],
  ['Plant J', 'Plant M'],
  ['Plant A', 'Plant B'],
  ['Plant O']],
 'I5': [['Plant C', 'Plant A'],
  ['Plant H', 'Plant G', 'Plant L'],
  ['Plant D']]}

In [39]:
pl_names_1={}
for i in list(pl_names.keys()):
    pl_names_1[i]={}
    for n in range(len(pl_names[i])):
        pl_names_1[i][list(df.loc[df['Plants']==pl_names[i][n][0],'Parents'])[0]]=pl_names[i][n]
dict_sup={}
sp_names={}
keys_1=list(pl_names_1.keys())

for n in range(len(keys_1)):
    keys=list(pl_names_1[keys_1[n]].keys())
    
    sp_names[keys_1[n]]={}
    for i in range(len(keys)):
        sp_names[keys_1[n]][keys[i]]=pl_names_1[keys_1[n]][keys[i]]
    
for i in range(len(keys_1)):
    dict_sup[keys_1[i]]={}   
    keys=list(pl_names_1[keys_1[i]].keys())

    for k in range(len(keys)):
        dict_sup[keys_1[i]][keys[k]]={}
        for n in range(len(sp_names[keys_1[i]][keys[k]])):
            
            dict_sup[keys_1[i]][keys[k]][sp_names[keys_1[i]][keys[k]][n]]=\
            list(findsuppliers(keys_1[i],sp_names[keys_1[i]][keys[k]][n])[1])
dict_sup

{'I1': {'S1': {'Plant A': ['Plant H'],
   'Plant B': ['Plant I', 'Plant H'],
   'Plant C': ['Plant H']},
  'S3': {'Plant F': ['Plant C']},
  'S4': {'Plant H': ['Plant C', 'Plant A', 'Plant B']},
  'S5': {'Plant I': ['Plant B']}},
 'I2': {'S5': {'Plant N': ['Plant G',
    'Plant E',
    'Plant D',
    'Plant K',
    'Plant L'],
   'Plant M': ['Plant G', 'Plant E'],
   'Plant J': ['Plant L', 'Plant K', 'Plant D', 'Plant G']},
  'S4': {'Plant L': ['Plant K', 'Plant J', 'Plant D', 'Plant N'],
   'Plant G': ['Plant D', 'Plant E']},
  'S2': {'Plant K': ['Plant L', 'Plant G', 'Plant J'],
   'Plant D': ['Plant G', 'Plant E']},
  'S3': {'Plant E': ['Plant G', 'Plant M']}},
 'I3': {'S1': {'Plant C': ['Plant H'],
   'Plant A': ['Plant O', 'Plant H', 'Plant D', 'Plant J']},
  'S6': {'Plant O': ['Plant A', 'Plant C', 'Plant H']},
  'S2': {'Plant D': ['Plant C', 'Plant E', 'Plant H', 'Plant O', 'Plant A']},
  'S5': {'Plant J': ['Plant H']},
  'S4': {'Plant H': ['Plant C', 'Plant A', 'Plant O']},
  'S3': {'Plant E': ['Plant D', 'Plant C', 'Plant H']}},
 'I4': {'S2': {'Plant D': ['Plant E', 'Plant O']},
  'S3': {'Plant E': ['Plant M', 'Plant D']},
  'S5': {'Plant J': ['Plant B', 'Plant A'], 'Plant M': ['Plant E', 'Plant D']},
  'S1': {'Plant A': ['Plant O', 'Plant D'], 'Plant B': ['Plant O']},
  'S6': {'Plant O': ['Plant A']}},
 'I5': {'S1': {'Plant C': ['Plant H', 'Plant L', 'Plant D'],
   'Plant A': ['Plant L']},
  'S4': {'Plant H': ['Plant C', 'Plant A', 'Plant D'],
   'Plant G': ['Plant D'],
   'Plant L': ['Plant A', 'Plant C', 'Plant D']},
  'S2': {'Plant D': ['Plant G', 'Plant C', 'Plant H', 'Plant A', 'Plant L']}}}

In [40]:
#Create a function to get the contingency plan for each supplier
df6=df5.reset_index()
def findsuppliers_1(name1,name2):
    plant_name=[]
    new_list_1={}
    new_list_2={}
    new_list_3={}
    new_list_4={}
    new_list_5=[]
    new_list_6=[]
    list_keys=[]
    new_list_sum={}

    for m in range(len(sp_names[name1][name2])):
        new_list_2[name1]={}
        new_list_1[sp_names[name1][name2][m]]=dict_sup[name1][name2][sp_names[name1][name2][m]]
        new_list_2[name1][name2]=new_list_1
    for m in range(len(sp_names[name1][name2])):

        new_list_3[sp_names[name1][name2][m]]=\
        list(df1.loc[sp_names[name1][name2][m],new_list_2[name1][name2][sp_names[name1][name2][m]]])
        #for i in range(len(dict_sup[name][sp_names[name][m]])):
        new_list_sum[sp_names[name1][name2][m]]=sum(new_list_3[sp_names[name1][name2][m]])
    for key, value in sorted(new_list_sum.items(), reverse=True, key=lambda item: item[1]):
        list_keys+=[key]
    #df=findsuppliers(list_keys[0])[0]
    df6['New_Demand']=df6['Demand']
    for k in range(len(list_keys)):

        list_distance_1=[]
        new_name_list=[]
        new_list_7=[]
        new_list_8=[]
        list_distance_other=list()
        for n in range(len(pl_names[name1])):
            if list_keys[k] in pl_names[name1][n]:
                continue
            else:            
                list_distance_other+=pl_names[name1][n]
                list_distance_2=list(df1.loc[list_keys[k],list_distance_other])
        for n in range(len(list_distance_2)):
            new_list_7+=[df1.loc[:,(df1.loc[list_keys[k]]==sorted(list_distance_2,reverse=False)[n])].columns]
        new_name_list=new_list_7

    #for k in range(len(list_keys)):
        for i in list(df6.Plants.unique()):
            if i == new_name_list[0]:

                df6.loc[(df6.Plants==i)& (df6.Skus==name1),'New_Demand']=\
                np.float(df6.loc[(df6.Plants==list_keys[k])& (df6.Skus==name1),'Demand'])\
                +np.float(df6[(df6['Plants']==i)& (df6.Skus==name1)]['New_Demand'])

                df6.loc[df6.Plants==list_keys[k],'New_Demand']=0

                if float(df6[(df6.Plants==i)& (df6.Skus==name1)].New_Demand)>\
                float(df6[(df6.Plants==i)& (df6.Skus==name1)].Capacity):

                    for n in range(len(new_name_list)-1):

                        remain=df6.loc[(df6.Plants==new_name_list[n].item())& (df6.Skus==name1),'New_Demand']-\
                        float(df6.loc[(df6.Plants==new_name_list[n].item())& (df6.Skus==name1),'Capacity'])

                        new_plant_1=new_name_list[n+1].item()

                        NEWNUM=np.float(df6.loc[(df6.Plants==new_plant_1)& (df6.Skus==name1),'New_Demand'])+remain

                        df6.loc[(df6.Plants==new_plant_1)& (df6.Skus==name1),'New_Demand']=float(NEWNUM)

                        df6.loc[(df6.Plants==new_name_list[n].item())& (df6.Skus==name1),'New_Demand']=\
                        float(df6.loc[(df6.Plants==new_name_list[n].item())& (df6.Skus==name1),'Capacity'])

                        if np.float(df6[(df6.Plants==new_name_list[n+1].item())& (df6.Skus==name1)].New_Demand)\
                        >np.float(df6[(df6.Plants==new_name_list[n+1].item())& (df6.Skus==name1)].Capacity):

                            continue

                        else:

                            break
                else:
                    n=-1
                for j in range(n+2):
                    plant_name+=list(new_name_list[j])


    unique_list=[]
    for x in plant_name:
        if x not in unique_list:
            unique_list.append(x)
    df6['New_Utl']=(df6['New_Demand'].astype(float)/df6['Capacity'].astype(float))      
    df_tem6=df6.set_index('Skus')

    df_tem6_1=df_tem6.loc[name1,:]
    
    df_tem6_2=df_tem6_1.reset_index()
    df_tem6_2=df_tem6_2.drop('index',axis=1)
    return (df_tem6_2,plant_name,unique_list)
findsuppliers_1('I3','S2')[0]

,Skus,Parents,Plants,Capacity,Demand,City,State,Lat,Long,Scenario Capacity %,Current Capacity %,volume,New_Demand,New_Utl
0,I3,S1,Plant C,100,50,St. Louis,MO,38.63028,-90.20031,1.000000,0.611111,400.0,100,1.000
1,I3,S6,Plant O,300,250,Mil,IL,43.038902,-87.906471,0.880000,0.611111,250.0,300,1.000
2,I3,S2,Plant D,600,450,Denver,co,39.739235,-104.99025,1.000000,0.611111,450.0,0,0.000
3,I3,S5,Plant J,400,50,Miami,FL,25.761681,-80.191788,0.916667,0.611111,50.0,50,0.125
4,I3,S4,Plant H,300,250,Memphis,TN,35.143379,-90.052139,0.880000,0.611111,250.0,300,1.000
5,I3,S1,Plant A,500,350,Chicago,IL,41.878113,-87.629799,1.000000,0.611111,400.0,400,0.800
6,I3,S3,Plant E,500,250,Los Angeles,CA,34.052238,-118.24334,0.956522,0.611111,250.0,500,1.000

In [41]:
sp_names

{'I1': {'S1': ['Plant A', 'Plant B', 'Plant C'],
  'S3': ['Plant F'],
  'S4': ['Plant H'],
  'S5': ['Plant I']},
 'I2': {'S5': ['Plant N', 'Plant M', 'Plant J'],
  'S4': ['Plant L', 'Plant G'],
  'S2': ['Plant K', 'Plant D'],
  'S3': ['Plant E']},
 'I3': {'S1': ['Plant C', 'Plant A'],
  'S6': ['Plant O'],
  'S2': ['Plant D'],
  'S5': ['Plant J'],
  'S4': ['Plant H'],
  'S3': ['Plant E']},
 'I4': {'S2': ['Plant D'],
  'S3': ['Plant E'],
  'S5': ['Plant J', 'Plant M'],
  'S1': ['Plant A', 'Plant B'],
  'S6': ['Plant O']},
 'I5': {'S1': ['Plant C', 'Plant A'],
  'S4': ['Plant H', 'Plant G', 'Plant L'],
  'S2': ['Plant D']}}

In [42]:
length_p

['S2', 'S6', 'S5', 'S4', 'S1', 'S3']

In [43]:
#Add variables to perform the contingency plan for corp level
df6['required# of Plants']=0
num_list=[]
for n in list(df6.Skus.unique()):
    length_p=[]
    length_p=list(df6[df6['Skus']==n].Parents.unique())
    for i in length_p:
        num_list=len(findsuppliers_1(n,i)[2])
        df6.loc[df6[(df6['Skus']==n) & (df6['Parents']==i)].index,'required# of Plants']=num_list

df7=df6
df7_new=df7.sort_values(by=['Skus'])
df8_new=df7_new.reset_index()



sku_list=[]
sku_list=df8_new.Skus.unique()
df9=pd.DataFrame()
for x in range(len(sku_list)):
    df7_new=df7.set_index('Skus')
    df7_1=df7_new.loc[sku_list[x],:]
    df7_1=df7_1.reset_index()
    for i in range(len(df7_1.Parents.unique())):
        list_cap=[]
        list_vol=[]
        list_volc=[]
        list_vol_1=[]
        list_vol_2=[]
        list_vol_3=[]
        list_vol_4=[]
        list_vol_5=[]
        list_vol_6=[]
        list_loc=[]
        name_list_p_1=[]
        name_list_p_2=[]
        name_list_p=[]
        list_s=[]
        list_p=[]    

        df8=findsuppliers_1(df7_1.Skus[x],df7_1.Parents.unique()[i])[0]
        df8=df8.drop(['Lat','Long'],axis=1)


        for n in range(len(df8.Plants)):

            list_loc_1=df8.City[n]
            list_loc_2=df8.State[n]
            list_loc+=[list_loc_1+', '+list_loc_2]
        df8.loc[:,'Plant Location']=list_loc

        
        
        for n in range(len(df8.Plants)):
            list_vol_2+=[float(df8.New_Demand[n])]
            list_vol_1+=[float(df8.Demand[n])]
        for m in range(len(list_vol_2)):
            if list_vol_2[m]>list_vol_1[m]:
                
                list_vol+=[list_vol_2[m]]
            else:
                list_vol+=['']
        df8['Volume (Scen Adj)']=list_vol

        for n in range(len(df8.Plants)):
            list_vol_4+=[float(df8.New_Utl[n])]
            list_vol_5+=[float(df8['Current Capacity %'][n])]
        for m in range(len(list_vol_4)):
            if list_vol_4[m]>list_vol_5[m]:
                list_vol_6+=[list_vol_4[m]]
            else:
                list_vol_6+=[0]
        df8['New_Utl']=list_vol_6        

        df8['Volume (Current)']=df8['Demand']
        df8.loc[df8[(df8['Parents']==df7_1.Parents.unique()[i]) & (df8['Skus']==df7_1.Skus[x])].index,'Volume (Current)']=0

        for n in range(len(df8.Plants)):
            if float(df8['Volume (Current)'][n])>0:
                list_vol_3+=[(float(df8.New_Demand[n])-float(df8.Demand[n]))/float(df8['Volume (Current)'][n])]
                if list_vol_3[n]<=0:
                    list_vol_3[n]=0
            else:
                list_vol_3+=[0]
        df8['Volume Change']=list_vol_3    


        for n in range(len(df8.Plants)):
            name_list_p_1=df8.Parents[n]
            name_list_p_2=df8.Plants[n]
            name_list_p+=[name_list_p_1+' - '+name_list_p_2]
        df8.loc[:,'Plant']=name_list_p
        list_s=[]
        list_s=[df8.Parents.unique()[i]]*len(df8.Parents)
        df8.loc[:,'Supplier (Outage Scenario)']=list_s
        df8=df8.drop(['City','State','New_Demand'],axis=1)
        for n in range(len(df8.Plants)):
            if df8['Supplier (Outage Scenario)'][n]==df8.Parents[n]:
                df8.loc[df8['Supplier (Outage Scenario)'].index,'Outage Vol']=\
                df8.loc[df8['Supplier (Outage Scenario)'].index,'volume']
        df8.set_index(['Supplier (Outage Scenario)','Parents'],inplace=True)
        df8['Outage Vol']=df8['volume']

        df9=df9.append(df8)

df10=df9.reset_index()

for n in range(df9.shape[0]):
    if df10['Supplier (Outage Scenario)'][n]==df10.Parents[n]:
        df10.loc[n,'Outage Vol']=df10['volume'][n]
    else:
        df10.loc[n,'Outage Vol']=''
list_dif=[]
for n in range(df10.shape[0]):
    list_dif+=[float(df10.Capacity[n])-float(df10.Demand[n])]
    

df10['Available Capacity']=list_dif
for n in range(df10.shape[0]):
    if df10.loc[n,'Supplier (Outage Scenario)']==df10.loc[n,'Parents']:
        df10.loc[n,'Available Capacity']=0
df10['% Capacity (Scen Adj)']=0
for i in range(df10.shape[0]):
    if df10.loc[i,'Volume Change']!=0:
        df10.loc[i,'% Capacity (Scen Adj)']=df10.loc[i,'New_Utl']
df10['Volume Change'] = df10['Volume Change'].astype(float).map(lambda n: '{:.2%}'.format(n))
df10['% Capacity (Scen Adj)'] = df10['% Capacity (Scen Adj)'].astype(float).map(lambda n: '{:.2%}'.format(n))
for i in range(df10.shape[0]):
    if df10.loc[i,'Volume Change']=='0.00%':
        df10.loc[i,'Volume Change']=''
for i in range(df10.shape[0]):
    if df10.loc[i,'% Capacity (Scen Adj)']=='0.00%':
        df10.loc[i,'% Capacity (Scen Adj)']=''
cols_1=[]
cols_1=df10.columns.tolist()
cols_2=['Skus','Supplier (Outage Scenario)','Parents','Plant','Plant Location','Outage Vol','Available Capacity',\
        'Current Capacity %','Scenario Capacity %','required# of Plants','Volume (Current)','Volume (Scen Adj)',\
        'Volume Change','% Capacity (Scen Adj)']
df10=df10[cols_2]
df10.set_index(['Skus','Supplier (Outage Scenario)','Parents'],inplace=True)
df10

                                                Plant      Plant Location  \
Skus Supplier (Outage Scenario) Parents
I1   S1                         S1       S1 - Plant A         Chicago, IL
                                S1       S1 - Plant B        Columbus, OH
                                S1       S1 - Plant C       St. Louis, MO
                                S3       S3 - Plant F   San Francisco, CA
                                S4       S4 - Plant H         Memphis, TN
                                S5       S5 - Plant I        New York, NY
     S3                         S1       S1 - Plant A         Chicago, IL
                                S1       S1 - Plant B        Columbus, OH
                                S1       S1 - Plant C       St. Louis, MO
                                S3       S3 - Plant F   San Francisco, CA
                                S4       S4 - Plant H         Memphis, TN
                                S5       S5 - Plant I        New York, NY
     S4                         S1       S1 - Plant A         Chicago, IL
                                S1       S1 - Plant B        Columbus, OH
                                S1       S1 - Plant C       St. Louis, MO
                                S3       S3 - Plant F   San Francisco, CA
                                S4       S4 - Plant H         Memphis, TN
                                S5       S5 - Plant I        New York, NY
     S5                         S1       S1 - Plant A         Chicago, IL
                                S1       S1 - Plant B        Columbus, OH
                                S1       S1 - Plant C       St. Louis, MO
                                S3       S3 - Plant F   San Francisco, CA
                                S4       S4 - Plant H         Memphis, TN
                                S5       S5 - Plant I        New York, NY
I2   S5                         S5       S5 - Plant N         Seattle, WA
                                S5       S5 - Plant M        Portland, OR
                                S4       S4 - Plant L       Cleveland, OH
                                S2       S2 - Plant K     Kansas City, KN
                                S4       S4 - Plant G  Salt Lake City, UT
                                S3       S3 - Plant E     Los Angeles, CA
...                                               ...                 ...
I4   S1                         S5       S5 - Plant J           Miami, FL
                                S1       S1 - Plant A         Chicago, IL
                                S5       S5 - Plant M        Portland, OR
                                S1       S1 - Plant B        Columbus, OH
                                S6       S6 - Plant O             Mil, IL
     S6                         S2       S2 - Plant D          Denver, CO
                                S3       S3 - Plant E     Los Angeles, CA
                                S5       S5 - Plant J           Miami, FL
                                S1       S1 - Plant A         Chicago, IL
                                S5       S5 - Plant M        Portland, OR
                                S1       S1 - Plant B        Columbus, OH
                                S6       S6 - Plant O             Mil, IL
I5   S1                         S1       S1 - Plant C       St. Louis, MO
                                S1       S1 - Plant A         Chicago, IL
                                S4       S4 - Plant H         Memphis, TN
                                S2       S2 - Plant D          Denver, co
                                S4       S4 - Plant G  Salt Lake City, UT
                                S4       S4 - Plant L       Cleveland, OH
     S4                         S1       S1 - Plant C       St. Louis, MO
                                S1       S1 - Plant A         Chicago, IL
                                S4       S4 - Plant H         Memphis, TN
                                S2       S2 - Plant D          Denver, co
                                S4       S4 - Plant G  Salt Lake City, UT
                                S4       S4 - Plant L       Cleveland, OH
     S2                         S1       S1 - Plant C       St. Louis, MO
                                S1       S1 - Plant A         Chicago, IL
                                S4       S4 - Plant H         Memphis, TN
                                S2       S2 - Plant D          Denver, co
                                S4       S4 - Plant G  Salt Lake City, UT
                                S4       S4 - Plant L       Cleveland, OH

                                        Outage Vol  Available Capacity  \
Skus Supplier (Outage Scenario) Parents
I1   S1                         S1             300                 0.0
                                S1             300                 0.0
                                S1             300                 0.0
                                S3                                50.0
                                S4                               150.0
                                S5                                50.0
     S3                         S1                                50.0
                                S1                               100.0
                                S1                               150.0
                                S3              50                 0.0
                                S4                               150.0
                                S5                                50.0
     S4                         S1                                50.0
                                S1                               100.0
                                S1                               150.0
                                S3                                50.0
                                S4             250                 0.0
                                S5                                50.0
     S5                         S1                                50.0
                                S1                               100.0
                                S1                               150.0
                                S3                                50.0
                                S4                               150.0
                                S5              50                 0.0
I2   S5                         S5            1250                 0.0
                                S5            1250                 0.0
                                S4                                50.0
                                S2                               100.0
                                S4                                50.0
                                S3                               250.0
...                                            ...                 ...
I4   S1                         S5                               150.0
                                S1             350                 0.0
                                S5                               100.0
                                S1             350                 0.0
                                S6                               150.0
     S6                         S2                               350.0
                                S3                               100.0
                                S5                               150.0
                                S1                               350.0
                                S5                               100.0
                                S1                               100.0
                                S6              50                 0.0
I5   S1                         S1             300                 0.0
                                S1             300                 0.0
                                S4                               150.0
                                S2                               150.0
                                S4                                50.0
                                S4                                50.0
     S4                         S1                                50.0
                                S1                               150.0
                                S4            1450                 0.0
                                S2                               150.0
                                S4            1450                 0.0
                                S4            1450                 0.0
     S2                         S1                                50.0
                                S1                               150.0
                                S4                               150.0
                                S2             450                 0.0
                                S4                                50.0
                                S4                                50.0

                                         Current Capacity %  \
Skus Supplier (Outage Scenario) Parents
I1   S1                         S1                 0.541667
                                S1                 0.541667
                                S1                 0.541667
                                S3                 0.541667
                                S4                 0.541667
                                S5                 0.541667
     S3                         S1                 0.541667
                                S1                 0.541667
                                S1                 0.541667
                                S3                 0.541667
                                S4                 0.541667
                                S5                 0.541667
     S4                         S1                 0.541667
                                S1                 0.541667
                                S1                 0.541667
                                S3                 0.541667
                                S4                 0.541667
                                S5                 0.541667
     S5                         S1                 0.541667
                                S1                 0.541667
                                S1                 0.541667
                                S3                 0.541667
                                S4                 0.541667
                                S5                 0.541667
I2   S5                         S5                 0.658750
                                S5                 0.658750
                                S4                 0.658750
                                S2                 0.658750
                                S4                 0.658750
                                S3                 0.658750
...                                                     ...
I4   S1                         S5                 0.500000
                                S1                 0.500000
                                S5                 0.500000
                                S1                 0.500000
                                S6                 0.500000
     S6                         S2                 0.500000
                                S3                 0.500000
                                S5                 0.500000
                                S1                 0.500000
                                S5                 0.500000
                                S1                 0.500000
                                S6                 0.500000
I5   S1                         S1                 0.785714
                                S1                 0.785714
                                S4                 0.785714
                                S2                 0.785714
                                S4                 0.785714
                                S4                 0.785714
     S4                         S1                 0.785714
                                S1                 0.785714
                                S4                 0.785714
                                S2                 0.785714
                                S4                 0.785714
                                S4                 0.785714
     S2                         S1                 0.785714
                                S1                 0.785714
                                S4                 0.785714
                                S2                 0.785714
                                S4                 0.785714
                                S4                 0.785714

                                         Scenario Capacity %  \
Skus Supplier (Outage Scenario) Parents
I1   S1                         S1                  1.000000
                                S1                  1.000000
                                S1                  1.000000
                                S3                  0.814815
                                S4                  0.916667
                                S5                  0.814815
     S3                         S1                  1.000000
                                S1                  1.000000
                                S1                  1.000000
                                S3                  0.814815
                                S4                  0.916667
                                S5                  0.814815
     S4                         S1                  1.000000
                                S1                  1.000000
                                S1                  1.000000
                                S3                  0.814815
                                S4                  0.916667
                                S5                  0.814815
     S5                         S1                  1.000000
                                S1                  1.000000
                                S1                  1.000000
                                S3                  0.814815
                                S4                  0.916667
                                S5                  0.814815
I2   S5                         S5                  3.142857
                                S5                  3.142857
                                S4                  1.047619
                                S2                  1.047619
                                S4                  1.047619
                                S3                  0.956522
...                                                      ...
I4   S1                         S5                  1.128205
                                S1                  1.100000
                                S5                  1.128205
                                S1                  1.100000
                                S6                  0.846154
     S6                         S2                  0.956522
                                S3                  0.862745
                                S5                  1.128205
                                S1                  1.100000
                                S5                  1.128205
                                S1                  1.100000
                                S6                  0.846154
I5   S1                         S1                  0.956522
                                S1                  0.956522
                                S4                  2.000000
                                S2                  1.000000
                                S4                  2.000000
                                S4                  2.000000
     S4                         S1                  0.956522
                                S1                  0.956522
                                S4                  2.000000
                                S2                  1.000000
                                S4                  2.000000
                                S4                  2.000000
     S2                         S1                  0.956522
                                S1                  0.956522
                                S4                  2.000000
                                S2                  1.000000
                                S4                  2.000000
                                S4                  2.000000

                                         required# of Plants Volume (Current)  \
Skus Supplier (Outage Scenario) Parents
I1   S1                         S1                         3                0
                                S1                         3                0
                                S1                         3                0
                                S3                         1               50
                                S4                         3              250
                                S5                         1               50
     S3                         S1                         3               50
                                S1                         3              100
                                S1                         3              150
                                S3                         1                0
                                S4                         3              250
                                S5                         1               50
     S4                         S1                         3               50
                                S1                         3              100
                                S1                         3              150
                                S3                         1               50
                                S4                         3                0
                                S5                         1               50
     S5                         S1                         3               50
                                S1                         3              100
                                S1                         3              150
                                S3                         1               50
                                S4                         3              250
                                S5                         1                0
I2   S5                         S5                         5                0
                                S5                         5                0
                                S4                         5              450
                                S2                         4              300
                                S4                         5              150
                                S3                         2              250
...                                                      ...              ...
I4   S1                         S5                         4              150
                                S1                         3                0
                                S5                         4              450
                                S1                         3                0
                                S6                         1               50
     S6                         S2                         2              150
                                S3                         2              150
                                S5                         4              150
                                S1                         3              250
                                S5                         4              450